<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="content">
  <!-- header -->
  <header>
    <figure><img src="../assets/images/company-logo.svg" alt="MaipoGrande"></figure>
    <nav>
      <ul>
        <li>
          <a href="#">
            Cómo comprar
          </a>
        </li>
        <li>
          <a href="#">
            Cómo funciona
          </a>
        </li>
        <li>
          <a href="#">
            Ayuda
          </a>
        </li>
      </ul>
    </nav>
    <div class="button">
      <a  href="#">
        Iniciar Sesión
      </a>
    </div>
  </header>


  <!-- body -->
<main>
  <h1>
    La mejor calidad de exportación
  </h1>
  <p>
    Obtén la mejor fruta de exportación de la región del Maipo, directamente desde Chile. 
  </p>
  <div class="button">
    <a  href="#">
      Regístrate ahora
    </a>
  </div>
</main>


  <!-- Footer -->
  <footer>
      
  </footer>
  <app-login></app-login>
  <app-registro></app-registro>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
